body {
  min-height:100vh;
  background:black;
  color: green;
}

.btn {
  background-color: black;
  border: 1px green;
}

h1 {
  font-size: 80px;
  text-align: center;
}

main {
  height: 300px;
  }

footer {
  min-height: 200px; 
  font-size: 16px;
}


#screen{
  height: 300px;
  background-color: black;
  font-size: 16px;

}

#controls{
  
  height: 300px;
  
}

#status {
  height: 300px;
  font-size: 16px;
  
}


.black-btn {
  background-color: black;

}

.red-btn {
  background-color: red;
  color: black;
}


.my-border {
  border: 1px solid green;
}

.btn-default {
  color: green;
}