h1 {
  color:blue;
 }

h2 {
  color: red;
}

.btn{
  background-color: black;
  color: green;
  border: 1px green solid;
}

#screen {
  height: 300px;
  width: 500px;
  background-color: yellow;
  float: left;
}

#dashboard {
  height: 300px;
  width: 500px;
  background-color: black;
  float: left;
}

