body {
  min-height:100vh;
  background:black;
  color: white;
}

.btn {
  background-color: black;
  color: white;
  border: 1px white solid;
}

h1 {
  font-size: 80px;
  color: white;
  text-align: center;
}

main {
  height: 300px;
  }

footer {
  min-height: 200px; 
}


#screen{
  height: 300px;
  background-color: black;
}

#controls{
  
  height: 300px;
  
}

#status {
  height: 300px;
  font-size: 16px;
  
}


.black-btn {
  background-color: black;
  color: white;

}

.red-btn {
  background-color: red;
  color: black;
}


.test {
  border: 1px solid white;
}

#nomalModal {
  color: black;
}