h1 {
  color: green;
  display: flex;
  align-items: center;
  font-size: 80px;
 }

 h3 {
  color: green; 
 }

body {
  background-color: black;
  }

.btn{
  background-color: black;
  color: green;
  border: 1px green solid;
}

#screen {
  height: 300px;
  width: 500px;
  background-color: yellow;
  float:left;
}

#dashboard {
  height: 300px;
  width: 500px;
  background-color: black;
  float:left;
  border: 1px green solid;
}

#terminal {
  border: 1px green solid;
  height: 100px;
  width: 1000px;
  color: green;
}